@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
}

html.embedded .navigation, body.embedded .navigation {
  display: none;
}

html.embedded .container, body.embedded .container {
  margin: 0;
}

html.embedded #content, html.embedded #linenos, body.embedded #content, body.embedded #linenos {
  padding-top: 10px;
  min-height: calc(100vh - 50px);
}

html.embedded #footer, body.embedded #footer {
  font-size: 0.8em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

::-webkit-scrollbar-thumb:active {
  background: #222222;
}

.hidden {
  display: none;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

#spinner-container {
  position: fixed;
  top: 130px;
  right: 20px;
  height: 50px;
  width: 50px;
}

#spinner-container .spinner {
  -webkit-animation: .75s linear infinite spinner;
  animation: .75s linear infinite spinner;
  -webkit-animation-play-state: inherit;
  animation-play-state: inherit;
  border: solid 5px #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

#btn_report {
  position: fixed;
  bottom: 60px;
  right: 30px;
}

#btn_report svg {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#btn_report:hover {
  cursor: pointer;
}

#btn_report:hover svg {
  stroke: #2daa57;
}

.navigation {
  position: fixed;
  top: 0;
  width: calc(100vw - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  background-color: #222222;
}

.navigation .button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.navigation .button svg {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.navigation .button.active svg {
  stroke: #2daa57;
}

.navigation .button:hover {
  cursor: pointer;
}

.navigation .button:hover svg {
  stroke: #2daa57;
}

.navigation .button:disabled svg {
  stroke: #5a5a5a;
}

.navigation .button:disabled:hover {
  cursor: initial;
  color: initial;
}

.container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container #linenos {
  padding: 20px 0;
  width: 50px;
  min-height: calc(100vh - 100px);
  background-color: #111111;
  color: #bebebe;
}

.container #linenos span {
  display: block;
  width: 100%;
  height: 20px;
  text-align: center;
}

.container #linenos span:last-child {
  margin-bottom: 25px;
}

.container #content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: calc(100vw - 50px);
}

.container #content #code {
  white-space: pre;
  line-height: 20px;
  overflow-x: auto;
}

.container #content #input {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  resize: none;
  font: inherit;
  line-height: 20px;
}

.container #notifications {
  position: fixed;
  bottom: 30px;
  right: 0;
  padding: 20px;
}

.container #notifications div {
  border-radius: 10px;
  width: 500px;
  margin-top: 20px;
  padding: 20px 30px;
}

.container #notifications div.error {
  background-color: #ff4d4d;
}

.container #notifications div.success {
  background-color: #389b38;
}

.container #notifications div:first-child {
  margin-top: 0;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222222;
}

#footer #flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 80px 0 60px;
}

#footer div {
  display: inline-block;
}

#footer a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 20px;
  height: 100%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

#footer a:hover {
  background-color: #333333;
  color: #2daa57;
}

#footer #version {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 30px;
  background-color: #111111;
}

@media only screen and (max-width: 650px) {
  .navigation {
    padding: 0 20px;
    width: calc(100vw - 40px);
  }
  .navigation .button {
    padding: 15px 10px;
  }
  .navigation .button svg {
    width: 30px;
    height: 30px;
  }
  .navigation .meta #version {
    display: none;
  }
  .container #notifications {
    padding: 0;
  }
  .container #notifications div {
    margin: 0;
    border-radius: 0;
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #footer #flex {
    margin: 0 0 0 25px;
  }
  #footer .version-container span {
    display: none;
  }
  #footer a {
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 500px) {
  #footer #flex {
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footer .version-container {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */