@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
    &.embedded {
        .navigation {
            display: none;
        }
        .container {
            margin: 0;
        }
        #content, #linenos {
            padding-top: 10px;
            min-height: calc(100vh - 50px);
        }
        #footer {
            font-size: 0.8em;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background: #000000;
}
  
::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

::-webkit-scrollbar-thumb:active {
    background: #222222;
}

.hidden {
    display: none;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
                transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
                transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
                transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
                transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
#spinner-container {
    position: fixed;
    top: 130px;
    right: 20px;
    height: 50px;
    width: 50px;
    & .spinner {
        -webkit-animation: .75s linear infinite spinner;
            animation: .75s linear infinite spinner;
        -webkit-animation-play-state: inherit;
                animation-play-state: inherit;
        border: solid 5px #ffffff;
        border-bottom-color: transparent;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
        will-change: transform;
    }
}

#btn_report {
    position: fixed;
    bottom: 60px;
    right: 30px;
    & svg {
        transition: all 250ms;
    }
    &:hover {
        cursor: pointer;
        & svg {
            stroke: #2daa57;
        }
    }
}

.navigation {
    position: fixed;
    top: 0;
    width: calc(100vw - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #222222;
    & .button {
        padding: 10px 20px;
        background-color: transparent;
        border: none;
        outline: none;
        & svg {
            transition: all 250ms;
        }
        &.active svg {
            stroke: #2daa57;
        }
        &:hover {
            cursor: pointer;
            & svg {
                stroke: #2daa57;
            }
        }
        &:disabled {
            & svg {
                stroke: #5a5a5a;
            }
            &:hover {
                cursor: initial;
                color: initial;
            }
        }
    }
}

.container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    & #linenos {
        padding: 20px 0;
        width: 50px;
        min-height: calc(100vh - 100px);
        background-color: #111111;
        color: #bebebe;
        & span {
            display: block;
            width: 100%;
            height: 20px;
            text-align: center;
            &:last-child {
                margin-bottom: 25px;
            }
        }
    }
    & #content {
        box-sizing: border-box;
        padding: 20px;
        width: calc(100vw - 50px);
        & #code {
            white-space: pre;
            line-height: 20px;
            overflow-x: auto;
        }
        & #input {
            height: 100%;
            width: 100%;
            padding: 0;
            background-color: transparent;
            border: none;
            outline: none;
            color: inherit;
            resize: none;
            font: inherit;
            line-height: 20px;
        }
    }
    & #notifications {
        position: fixed;
        bottom: 30px;
        right: 0;
        padding: 20px;
        & div {
            border-radius: 10px;
            width: 500px;
            margin-top: 20px;
            padding: 20px 30px;
            &.error {
                background-color: #ff4d4d;
            }
            &.success {
                background-color: #389b38;
            }
            &:first-child {
                margin-top: 0;
            }
        }
    }
    & #lifetime_container {
        position: fixed;
        right: 30px;
        top: 90px;
        padding: 10px 15px;
        background-color: #222222;
        border-radius: 10px;
        & #lifetime {
            background-color: #111111;
            margin-left: 10px;
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    & #flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 80px 0 60px;
    }
    & div {
        display: inline-block;
    }
    & a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        padding: 5px 20px;
        height: 100%;
        transition: all 200ms;
        &:hover {
            background-color: #333333;
            color: #2daa57;
        }
    }
    & #version {
        display: inline-block;
        margin-left: 10px;
        padding: 5px 30px;
        background-color: #111111;
    }
}

@media only screen and (max-width: 650px) {
    .navigation {
        padding: 0 20px;
        width: calc(100vw - 40px);
        & .button {
            padding: 15px 10px;
            & svg {
                width: 30px;
                height: 30px;
            }
        }
        & .meta #version {
            display: none;
        }
    }

    .container #notifications {
        padding: 0;
        & div {
            margin: 0;
            border-radius: 0;
            width: 100vw;
            box-sizing: border-box;
        }
    }


    #footer {
        & #flex {
            margin: 0 0 0 25px;
        }
        & .version-container span {
            display: none;
        }
        & a {
            padding: 5px 15px;
        }
    }
}

@media only screen and (max-width: 500px) {
    #footer {
        & #flex {
            margin: 0;
            justify-content: space-around;
        }
        & .version-container {
            display: none;
        }
    }
}