body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
}

@-webkit-keyframes spinner {
    0% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
              transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
              transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
                transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
                transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spinner {
    content: "";
    -webkit-animation: .75s linear infinite spinner;
            animation: .75s linear infinite spinner;
    -webkit-animation-play-state: inherit;
            animation-play-state: inherit;
    border: solid 5px #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    right: 100px;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
.spinner.hidden {
    display: none;
}

.navigation {
    width: 100vw;
    height: 60px;
    background-color: #111111;
    display: flex;
    align-items: center;
}
.navigation .item {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}
.navigation .item svg {
    transition: all 250ms;
}
.navigation .item:hover {
    cursor: pointer;
}
.navigation .item:hover svg {
    stroke: #c0c0c0;
}